header, nav, main, footer { display: block; }
body { background-color: #330000;
       font-family: Verdana, Arial, sans-serif;
       background-image: url(../images/home.png);
	   background-repeat: no-repeat;
	   background-position: center 5px;
}
h1 { 
	
	 background-repeat: no-repeat;
     height: 110px;
     font-family: Papyrus, fantasy;
     font-size: 5em;
     padding-left: 220px;
     padding-top: 20px;
     text-shadow: 3px 3px 3px #90745D;
     margin-bottom: 0;
     color: purple;
}
h2 {font-family: Papyrus, fantasy;
    color: purple;
	font-size: 3em;
} 
h3 {font-family: Papyrus, fantasy;
    color: purple;
	font-size:30px;}
h4 {font-family: Papyrus, fantasy;
    color: purple;
	font-size: 25px;} 
li {font-family: Papyrus, fantasy;
    color: white;
	font-size: 25px;}
p {color: white;}
p2 {color: white;
font-size: 20px;}
nav { padding-top: 10px;
      float: left;
      width: 200px; 
}
nav ul { list-style-type: none; 
       padding-left: 20px;
     }
nav li { padding-bottom: 5px;
       font-weight: bold;
}
nav a { text-decoration: none; }
nav a:link { color: purple; }
nav a:visited{ color: #90745D; }
nav a:hover { color: #3F4632; }
dt {color: white;
font-size: 20px;
text-align: left;
 margin-left: 20px;}
dd {color: white;
font-size: 18px;
text-align: left;
 margin-left: 20px;}

main { 
       margin-left: 200px;
       padding: 1px 20px 20px 20px;   
       min-height: 300px;
}
main img { float: right;
           padding: 20px;
}

footer {
color: purple;
         margin-left: 2px;
         padding: 350px;
         text-align: center;
         font-size: small;
         font-style: italic;
}
.right-middle {
  position: absolute;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
}
#specialImg {
  position: absolute;
  right: 0;
  top: 75%;
  transform: translateY(-50%);
}
#billy {
  position: absolute;
  right: 25px;
  top: 80%;
  transform: translateY(-50%);}
#wanted {
  position: absolute;
  right: 0;
  top: 40%;
  transform: translateY(-50%)}
	  